<div class="center">
<div class="container-fluid login-style center">
    <div class="card card-primary" style="width: 40rem;">
      <div class="card-header bg-info text-white text-center"><h3>Book Ride</h3></div>
       <div class="card-body border border-primary">
        <div class="text-center">
            <h4>Welcome to Pool Carz</h4>
        </div>
        <div *ngIf="!showAllRides" class="row text-center">
          <div class="col-sm-6">
            <button (click)="showAllRidesBtn()" type="submit" class="btn btn-primary">Show All Rides</button>
          </div>
          <div class="col-sm-6">
            <button (click)="offerRideBtn()" type="submit" class="btn btn-primary">Offer A Ride</button>
          </div>
        </div>

        <div *ngIf="showAllRides" class="row text-center">
            <div class="d-flex justify-content-around">
                <button [disabled]="rideDetailsComponent.booked" (click)="showAllRidesBtn(); filterName='ALL'"  type="submit" class="btn btn-success">Show All Rides</button>
                <button *ngIf="!rideDetailsComponent.booked" (click)="filterName='TO'" type="submit" class="btn btn-primary">To Office</button>
                <button *ngIf="!rideDetailsComponent.booked" (click)="filterName='FROM'" type="submit" class="btn btn-primary">From Office</button>
                <button *ngIf="!rideDetailsComponent.booked" (click)="filterName='OTHER'" type="submit" class="btn btn-primary">Others</button>
            </div>
            
            <h5 *ngIf="!rideDetailsComponent.booked" class="pt-3">Select a ride</h5>
            <table *ngIf="!rideDetailsComponent.booked" class="table table-bordered table-sm">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Arrival</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Seats Available</th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="rideDetailsComponent.showError = false; carDetails = ride; childCompo = true" *ngFor="let ride of rides | ridefilter : filterName" appHoverDirective>
                    <td>{{ride.startPoint}}</td>
                    <td>{{ride.endPoint}}</td>
                    <td>{{ride.seatsAvailable}}</td>
                  </tr>
                </tbody>
            </table>
            <div class="text-center pt-3">
                <button (click)="offerRideBtn()" type="submit" class="btn btn-primary w-25">Offer A Ride</button>
            </div>
        </div>
        <br>
        <app-ride-details [hidden]="!childCompo || !showAllRides" [details]="carDetails"></app-ride-details>
      </div>
    </div>
  </div>
</div>
